<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Jenkins Test Suite">
    <test name="C:/Users/salih/IdeaProjects/TayfaTestNG">
        <classes>

            <class name="tests.TableTest">
                <methods>
                    <include name="tumBasliklar"/>
                    <include name="tumHucreler"/>
                    <include name="tumBasliklarReusableMethods"/>
                    <include name="satirSutunTesti"/>
                    <include name="sutun"/>
                </methods>
            </class>

            <class name="tests.AmazonAramaTestBaslklar">
                <methods>
                    <include name="AmazonTesti"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>